:root {
    --transparente: transparent;
    --roxo-color: blueviolet;
    --fonte: Arial, Helvetica, sans-serif;
    --fonte-tamalho: 12px;
}
body {
    background: url("images/Animation_Of_Stars-25-fps-compress.gif") no-repeat fixed !important;
    background-size: cover !important;
    background-color: var(--transparente) !important;
    font-family: var(--fonte);
    font-size: var(--fonte-tamalho);
    /* font-weight: 600; fica estralho */
}

div {
    background-color: var(--transparente) !important;
    /* width: 445px;
    height: 45px;
    padding: auto; */
}
*[id] {
    background-color:var(--transparente) !important;
}
p {
    color: var(--roxo-color) !important;
}

h1 {
    color: blueviolet !important;
}

h2 {
    color: blueviolet !important;
}

h3 {
    color: blueviolet !important;
}

h4 {
    color: blueviolet !important;
}

h5 {
    color: blueviolet !important;
}

h6 {
    color: blueviolet !important;
}

a {
    color: blueviolet !important;
}

/* description {
    color: blueviolet !important;
} */

.description-deemphasized {
    color: blueviolet !important;
}

code {
    color: blueviolet !important;
}

pre {
    color: blueviolet !important;
}

abbr {
    color: rgb(201, 143, 255) !important;
}

li {
    color: blueviolet !important;
}

dd {
    color: blueviolet !important;
}

dt {
    color: blueviolet !important;
}

/* title {
    color: blueviolet !important;
} */

/* hr {
    background-color: blueviolet;
} */

span {
    color: blueviolet !important;
} 

label {
    color: blueviolet !important;
}

div:hover {
    background-color: brown;
}