body {
    background-color: #000000 !important;
    background: url("images/Animation_Of_Stars-25-fps-compress.gif") no-repeat fixed !important;
   background-size: cover !important;
   --newtab-background-color: #000000 !important;
   --newtab-background-color-secondary: #101010 !important;
}

body {
    background-color: transparent !important;
}

div {
    background-color: transparent !important;
}

*[id] {
    background-color: transparent !important;
}

.style-scope-ytd-two-column-browse-results-renderer {
    background-color: transparent !important;
}