:root {
    --transparente: transparent;
/*    --color: var(--color);*/
    --fonte-tamalho: 12px;
}

* {
    background-image: linear-gradient(to right, white, blue);
}

body {
    background: url("images/Animation_Of_Stars-25-fps-compress.gif") no-repeat fixed !important;
    background-size: cover !important;
    background-color: var(--transparente) !important;
    font-size: var(--fonte-tamalho);
    /* font-weight: 600; fica estralho */
}

div, *[id], ,class {
    background-color: var(--transparente) !important;
    /* width: 445px;
    height: 45px;
    padding: auto; */
}

p, code, pre {
    color: var(--roxo-color) !important;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color) !important;
}


a {
    color: var(--color) !important;
}

/* description {
    color: var(--color) !important;
} */

.description-deemphasized {
    color: var(--color) !important;
}

abbr {
    color: var(--color) !important;
}

ul, li, dt, dd {
    color: var(--color) !important;
}

/* title {
    color: var(--color) !important;
} */

/* hr {
    background-color: var(--color);
} */

span {
    color: var(--color) !important;
} 

label {
    color: var(--color) !important;
}

div:hover {
    background-color: brown;
}
