/* YouTube - Desativar 720p e ajustar o tamanho do vídeo */
@-moz-document domain("youtube.com") {
    /* Para desativar o 720p de largura e deixar o vídeo do YouTube sem limitações */
    #columns.ytd-watch-flexy {
    max-width: none !important;
    }

    /* Ajustar o tamanho do YouTube para 1920x1080 */
    #columns.ytd-watch-flexy {
    width: 1920px !important;
    height: 1080px !important;
    }

    /* Ajustar o tamanho do vídeo */
    .html5-main-video {
        width: 1446px !important;
        height: 813px !important;
        left: 0px !important;
        top: 0px !important;
    }

    /* Ajustar a barra de controle (botão) */
    .ytp-chrome-bottom {
        width: 1420px !important;
        left: 12px !important;
    }
}

/* GitHub - Ajustar a largura da box de perfil */
@-moz-document domain("github.com") {
    .container-xl.px-3.px-md-4.px-lg-5.mt-2 {
        max-width: none !important;
    }

    .container-xl {
        max-width: none !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}


