#TabsToolbar, #nav-bar { /* Permite redimensionamento da barra de guias e da barra de navegação */
    overflow: hidden; /* Evita que o conteúdo ultrapasse a área da tela */
}

#nav-bar { /* Ajusta o comportamento da barra de navegação quando estendida */
    margin-top: -62px !important;       /* Ajusta a posição para cima remova se quese que fique nomal*/
}

/* Aumenta a altura da barra de favoritos */
#PersonalToolbar {
    height: 17px !important; /* Ajuste a altura aqui */
}

#navigator-toolbox {
  margin-top: -12px; /* Ajuste o valor para o deslocamento desejado */
}
